body{
	background: #F1D6A1;
}
.bloc_logo{
	margin-top: 70px;
}
.champ{
	margin-top: 70px;
}
.container{
	width: 85%;
}
.input-group{
	border: 2px solid #965A36;
	border-radius: 0;
	margin-bottom: 20px;
	box-shadow: 0;
}
.input-group-addon{
	background: white;
	border: 0px;
}
.texte_logo{
	color: #582D1C;
	font-style: italic;
	font-size: 20px;
}
.btn_index{
	background: #965A36;
	color: white;
	border-radius: 0;

}
.btn_index:hover{
	background: #965A36;
	color: white;

}
::-webkit-input-placeholder { font-size: 10pt; color: #555; }
::-moz-placeholder { font-size: 10pt; color: #555; }
:-ms-input-placeholder { font-size: 10pt; color: #555; }
input:-moz-placeholder { font-size: 10pt; color: #555; }

.navbar-default {
    background-color: #582D1C;
    color:white;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand {
    color: white;
}
.select_bloc{
	border: 2px solid #965A36;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 0;
}
